@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap');

:root {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  --text-primary: #FFF;
  --text-secondary: rgb(179, 179, 179);
  --bg-primary: #2C365D;
  --bg-secondary: #272E4F;
  --accent-color: #FF5E3A;
  --navbar-size: 4rem;
}

/* de body mooi maken */
body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

/* scrollbar beter maken */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

/* de text(main) mooi maken */
main {
  margin-left: var(--navbar-size);
}

span {
  top: 0;
  left: 0%;
  position: absolute;
  font-size: 7rem;
  margin: auto;
  margin-bottom: 3rem;
  font-weight: 200;
  clip-path: polygon(0 100%, 100% 100%, 100% 55%, 0 55%);
  animation: glitch 3000ms infinite 100ms;
}

h1 {
  position: relative;
  font-size: 7rem;
  margin: auto;
  margin-bottom: 3rem;
  font-weight: 200;
  clip-path: polygon(0 0, 100% 0, 100% 56%, 0 56%);
  animation: glitch 2000ms infinite 200ms;
}

@keyframes glitch{
  0% {
    transform: translateX(4px);
  }
  15% {
    transform: translateX(0px);
  }
  16% {
    transform: translateX(-3px);
  }
  49% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(-4px);
  }
  99% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-1px);
  }
}

p {
  font-size: 1.5rem;
}

.navbar {
  width: var(--navbar-size);
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
  box-shadow: 1px 0px 10px 0px var(--bg-secondary);
}

.orange-box{
  z-index: -1;
  position: fixed;
  background-color: var(--accent-color);
  width: var(--navbar-size);
  height: var(--navbar-size);
  box-shadow: 1px 1px 5px 0px rgb(36, 36, 36);
}

.navbar-nav{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  height: 100%;
}

.nav-item{
  width: 76%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 12%;
  margin-bottom: 12%;
}

#icon_compas{
  fill: var(--bg-secondary);
  transition-duration: 500ms;
}

.svg{
  fill: var(--accent-color);
}

#icon_compas:hover{
  transform: rotate(585deg);
}

.nav-item:last-child{
  margin-top: auto;
}

.main_content{
  position: relative;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#view_projects{
  background: none;
  border: 2px solid #FF5E3A;
  font-size: 3rem;
  font-family: 'IBM Plex Mono', monospace;
	font-weight: 300;
	color: white;
	cursor: pointer;
}

